<ul class='nav'>
   <li><a href='/'>Home</a></li>
   <li><a href='/history'>History</a></li>
   <li><a href='/apiOverview'>API Overview</a></li>
   <li><a href='/library'>Marvel Library</a></li>
   <li><a href='/demo'>Demo</a></li>
   <li><a href='/downsides'>Downsides</a></li>
</ul>
