<center><h1>The Downsides to the API to be Aware of</h1></center>

<div>
<ul>
   <li> Although Marvel's database is overflowing with data, all of the API's returns are limited to a maximum of 100 results per call.</li>
   <li> Because the website is in beta still and changes are still being made, the website is a bit buggy and has crashed several times, causing my code to fail.</li>
   <li> Though their interactive api tester shows tons of possible calls to make to the API, not all calls can actually be made per category so you must test the calls before using them.</li>
   <ul><li> i.e.: You can't call 'sharedAppearances' by character, you must do it by comic.</li></ul>
   <li> Once again, you only get 3,000 calls to the API a day, which is not very practical to use this library for public use.</li>
</ul>

<center><img src="http://imgc.allpostersimages.com/images/P-473-488-90/69/6982/1TTK100Z/posters/marvel-characters.jpg" alt="www.allposter.com/-sp/Marvel-Characters-Posters_i9705354_.htm" width=700px height=500px></center>
