<center><h1>IN THE BEGINNING...</h1></center>

<div>
   <center><h2>A Brief History of Marvel & the Marvel Universe</h2></center>

   <p>
      Marvel is a well known comic book publishing company that began in America in 1939 as 
      Timely Publications. It morphed its way into its modern incarnation by 1961 when 
      writer-editor Stan Lee helped revolutionize superhero comics and the company by 
      launching <em>The Fantastic Four</em>.  From there, Marvel has developed over 1,485 
      beloved superhero (and villain) characters, most of which operate in the single reality 
      known as the "Marvel Universe".  
   </p>
   <br>
   <p>
      Modeled after the real world, the idea behind how the Marvel Universe worked was that 
      when an event occurred in one storyline that brought upon backlash or repercussions of 
      some sort, those same backlashes or repercussions would also appear in other storylines.
      From there, serialized stories were developed that would show how characters dealt with 
      those changes.
   </p>
   <br>
   <p>
      Because of this continuity, commonly known as Earth-616, it was not uncommon for 
      characters to make cameos in other storylines.  These cameos eventually lead to some 
      heroes assembling into teams, such as the <em>Avengers</em> or <em>Guardians of the 
      Galaxy</em>, which have grown to be some of Marvel's most successful stories.
   </p>
</div>
<center><img src="https://s-media-cache-ak0.pinimg.com/564x/8b/7e/85/8b7e859e820583d1e5a4cb74f66f89bd.jpg" alt="www.pinterest.com/pin/425801339742624194/"></center>
