<br>
<div width=100%>
	<center><a href="http://marvel.com"><img src="http://i2.wp.com/www.wearemoviegeeks.com/wp-content/uploads/Marvel-logo.png?zoom=1.5&fit=620%2C245.jpg" alt="www.wearemoviegeeks.com" height=200px width=700px></a></center>
</div>

<center><h1>All developer tools for the Marvel API can be found <a href="http://developers.marvel.com">here</a></h1></center>.

<div>

   <p>
	Marvel has been publishing comics for 70+ years, which has resulted in a rich, well documented database of characters, universes, comics, creaters, and more.
	The majority, if not all, of this information has been stored into an easy-to-use api which allows programmers the ability to access this database.
   </p>

   <br>

   <p>
	For this guide, I will take advantage of this database and will explain how to use Marvel's API to return information on just about anything Marvel related.
   </p>

   <br>

   <p>
	Specifically, I will demonstrate how to use the Marvel API to create a library of functions to simplify calls to the API and to allow other programmers the ability to play around with the returned data.
   </p>

   <br>

   <p>
	Before getting started, here are some <strong>"Useful Vocabulary Words"</strong> that will help anyone new to comics better understand what is being discussed.
   </p>

   <ul>
 	<li><em>Comic issues</em> or <em>comics:</em> are the products that the end-users read.</li>
	<br>
	<li><em>Series:</em> made up of comics, typically sequentially, that share the same title and volume.</li>
	<br>
	<li><em>Events:</em> big, universe-changing storylines.</li>
	<br>
	<li><em>Stories:</em> indivisible components of comics that can be covered in multiple stories but will always be linked back to the original comic (i.e. a character's origin 
	story).</li>
	<br>
	<li><em>Crossovers:</em> when one or more characters appear in other character's storylines.</li>
   </ul>
</div>

<img src="http://vignette1.wikia.nocookie.net/marveldatabase/images/e/e1/The_Marvel_Universe.png/revision/latest/scale-to-width-down/630?cb=20110513164401.jpg" alt="http://marvel.wikia.com/wiki/Category.Characters" width=100% height=700px>
